{{ form_start(form) }}
    {{ form_row(form.dateCommande) }}
    {{ form_row(form.quantite) }}
    {{ form_row(form.statutCommande) }}
    {{ form_row(form.fournisseur) }}
    {{ form_row(form.description) }}
    {{ form_row(form.prixCommande) }}
    {{ form_row(form.user) }}

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
