{% extends 'back.html.twig' %}

{% block title %}Créer un Nouveau Fournisseur{% endblock %}

{% block content %}
    <h1>Créer un Nouveau Fournisseur</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nomFournisseur) }}
            {{ form_widget(form.nomFournisseur, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.contact) }}
            {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.typeService) }}
            {{ form_widget(form.typeService, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('back_fournisseur_index') }}" class="btn btn-primary mt-3">Retour à la liste</a>
{% endblock %}
